<ul class="nav nav-tabs">
				<li class="<%= active(root_path) %>">
					<%= link_to "Home", root_path %>
					
				</li>
				<li class="<%= active(posts_path) %>">
					<%= link_to "Overtime", posts_path %>
					
				</li>
				<li class="<%= active(new_post_path) %>">
					<%= link_to "New Item", new_post_path, id: "new_post" %>
					
				</li>
				<li class="dropdown pull-right">
					 <a href="#" data-toggle="dropdown" class="dropdown-toggle">Account<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						
							<%= render :partial => "shared/menu_#{account_menu}" %>
								
					</ul>
				</li>
			</ul>