<div class="form-group">
		<%= f.label :status, "Submitted" %>
		<%= f.radio_button :status, "submitted", id: "submitted" %>

		<%= f.label :status, "Approved" %>
		<%= f.radio_button :status, "approved", id: "approved" %>

		<%= f.label :status, "Rejected" %>
		<%= f.radio_button :status, "rejected", id: "rejected" %>

</div>